header {
  width: 100vw;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  position: fixed;
  z-index: 1;
  top: 0px;
  background-color: white;
}

nav {
  width: 100%;
  height: 100%;
  max-width: 960px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

li {
  list-style-type: none;
  padding: 15px;
  font-weight: 800;
  font-size: 15px;
}

.pink {
  color: rgb(224, 107, 126);
}
