.sale {
  color: white;
  background-color: red;
  border-radius: 20px;
  font-size: 20px;
  width: fit-content;
  text-align: center;
  padding: 3px 8px 3px 8px;
  margin: 10px;
}

.today {
  color: white;
  background-color: rgb(238, 117, 191);
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  width: fit-content;
  text-align: center;
  padding: 3px 8px 3px 8px;
  margin: 10px;
}

.dreamf {
  color: white;
  background-color: rgb(13, 3, 104);
  width: 120px;
  text-align: center;
  font-size: 10px;
  padding: 7px 0px 7px 0px;
  border: 1px solid white;
  margin: 10px;
}

.dreamc {
  color: white;
  background-color: rgb(13, 3, 104);
  width: 120px;
  text-align: center;
  font-size: 10px;
  padding: 7px 0px 7px 0px;
  margin: 10px;
  border: 1px solid white;
}
